[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "test/deps/googletest"]
	path = test/deps/googletest
	url = https://github.com/google/googletest
